__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.git
.gitignore
README.md
.dockerignore
Dockerfile
docker-compose.yml
*.md
.env
.vscode
.idea
*.swp
*.swo
data/tmdb_directory_mapping.json
mockup*.html
